button
{
    font-size: 42;
    horizontal-align: center;
}

image
{
    horizontal-align: center;
    vertical-align: center;
}

label
{
    vertical-align: center;
}

.action-bar
{
    padding: 10;
    background-color: #DCDCDC;
}

.action-bar-title
{
    horizontal-align: left;
    vertical-align: center;
    font-size: 20;
    color: #000;
}

.action-bar-border
{
    background-color: #bbb;
}

.page-title
{
    font-size: 14;
    color: #fac950;
}

.title
{
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

.message
{
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}
